.hero {
  font-family: $secondary-font;
  position: relative;
  z-index: 0;

  @media (max-width: 767px) {
    background:
      linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      )
      top / 100% 302px no-repeat,
      url("../../images/bg-cat-mobile@1x.jpg")
      50% top / 320px 302px no-repeat,
      linear-gradient(
        to right,
        rgba(77, 76, 81),
        rgba(68, 67, 72)
      )
      top / 100% 302px no-repeat;
  }

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background:
      linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      )
      top / 100% 302px no-repeat,
      url("../../images/bg-cat-mobile@2x.jpg")
      50% top / 320px 302px no-repeat,
      linear-gradient(
        to right,
        rgba(77, 76, 81),
        rgba(68, 67, 72)
      )
      top / 100% 302px no-repeat;
  }
}

.hero--bg-img::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 694px;
  top: calc(0px - 114px);
  right: 0;
  bottom: 0;
  background:
    linear-gradient(
      to bottom,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    )
    top / 100% 694px no-repeat,
    url("../../images/bg-cat-desktop@1x.jpg")
    left top / 1041px 694px no-repeat,
    linear-gradient(
      to right,
      rgba(78, 78, 82),
      rgb(61, 60, 65)
    )
    top / 100% 694px no-repeat;
  display: none;

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background:
      linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      )
      top / 100% 694px no-repeat,
      url("../../images/bg-cat-desktop@2x.jpg")
      left top / 1041px 694px no-repeat,
      linear-gradient(
        to right,
        rgba(78, 78, 82),
        rgb(61, 60, 65)
      )
      top / 100% 694px no-repeat;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.hero__inner {
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    padding-bottom: 266px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $thirdly-color;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 40px;
    padding-top: 0;
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $thirdly-color;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 21px;
    width: 283px;
    font-size: 20px;
    line-height: 20px;
    color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.hero__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    right: 331px;
  }
}

.hero__link {
  width: 100%;
  padding: 10px 64px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    position: absolute;
    top: 230px;
    left: 120px;
    width: 242px;
    padding: 14px 26px;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
